<%- messages() %>
<div class="Udiv">
  <h2 class="UwelcomeUheader">Welcome <%= accountName %></h2>

  <% if (accountType === "Employee" || accountType === "Admin") { %>
  <h3 class="UinventoryUheader">Inventory Management</h3>
  <p class="UinventoryUlink"><a href="/inv" class="Uanchor">Access Inventory Management</a></p>
  <% } %>

  <h3 class="UaccountUheader">Account Management</h3>
  <p class="UaccountUupdateUlink">
    <a href="/account/update?id=<%= clientId %>" class="Uanchor">Update Account Information</a>
  </p>
</div>
