<h1 id="greeting">Welcome to CSE Motors!</h1>
<%- messages() %>

<div class="image-container">
  <picture>
    <source media="(min-width: 500px)" srcset="/images/vehicles/delorean.jpg" />
    <img
      class="full-img"
      src="/images/vehicles/delorean-tn.jpg"
      alt="Car of Car"
    />
  </picture>
  <div class="text-overlay">
    <b>DMC Delorean</b><br />
    3 cup holders<br />
    Superman doors<br />
    Fuzzy dice!<br />
    <button class="overlay-button">Own Today</button>
  </div>
</div>
<div id="ReviewUpgradeGrid">
  <section>
    <h2>DMC Deloreon Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest rode on the road" (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's living and I love it!" (5/5)</li>
    </ul>
  </section>
  <section>
    <h2>Deloreon Upgrades</h2>
    <section class="cards">
      <div class="card">
        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
      </div>
      <div class="card">
        <img src="/images/upgrades/flame.jpg" alt="Flame" />
      </div>
      <a href="#" class="link">Flux Capacitor</a>
      <a href="#" class="link">Flame Decals</a>
      <div class="card">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker" />
      </div>
      <div class="card">
        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap" />
      </div>
      <a href="#" class="link">Bumper Stickers</a>
      <a href="#" class="link">Hub Caps</a>
    </section>
  </section>
</div>
