/* Container for the registration form */
.registration-container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Title styling */
.registration-title {
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}

/* Input group styling */
.input-group {
    margin-bottom: 20px;
}

/* Labels styling */
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input fields styling */
.input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* So that padding doesn't affect overall width */
}

/* Button styling */
.register-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.register-button:hover {
    background-color: #0056b3;
}
