<h1 class="login-title">Add New Inventory Item</h1>

<% if (messages) { %>
<div><%- messages() %></div>
<% } %>

<form
  id="inventoryForm"
  action="/inv/add/inventory"
  onsubmit="return validateForm()"
  method="post">
  <div class="form-group">
    <label for="invMake">Make:</label>
    <input
      type="text"
      id="invMake"
      name="inv_make"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="invModel">Model:</label>
    <input
      type="text"
      id="invModel"
      name="inv_model"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="invYear">Year:</label>
    <input
      type="number"
      id="invYear"
      name="inv_year"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="invDescription">Description:</label>
    <textarea
      id="invDescription"
      name="inv_description"
      class="form-control"
      required
    >
<%= typeof inv_description != 'undefined' ? inv_description : '' %></textarea
    >
  </div>
  <div class="form-group">
    <label for="invPrice">Price:</label>
    <input
      type="number"
      id="invPrice"
      name="inv_price"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="invMiles">Miles:</label>
    <input
      type="number"
      id="invMiles"
      name="inv_miles"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="invColor">Color:</label>
    <input
      type="text"
      id="invColor"
      name="inv_color"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="classificationId">Classification:</label>
    <select
      id="classificationId"
      name="classification_id"
      class="form-control"
      required
    >
      <% if (Array.isArray(classifications)) { %> <%
      classifications.forEach(function(classification) { %>
      <option value="<%= classification.classification_id %>">
        <%= classification.classification_name %>
      </option>
      <% }); %> <% } else { %>
      <p>Error: Classifications data is not available.</p>
      <% } %>
    </select>
  </div>
  <div class="form-group">
    <label for="invImage">Image Path:</label>
    <input
      type="text"
      id="invImage"
      name="inv_image"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="invThumbnail">Thumbnail Path:</label>
    <input
      type="text"
      id="invThumbnail"
      name="inv_thumbnail"
      class="form-control"
      required
    />
  </div>
  <button type="submit" class="submit-button">Add Inventory Item</button>
</form>
