<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= vehicle.make %> <%= vehicle.model %></title>
    <!-- Add other meta tags and CSS links here -->
</head>
<body>
    <h1><%= vehicle.make %> <%= vehicle.model %></h1>
    <!-- Display other vehicle details -->
</body>
</html>
